{% extends "base.html" %}

{% block extrahead %}
<meta property="og:title" content="{{ page.title }} - kynefuk.github.io">
<meta name="twitter:title" content="{{ page.title }} - kynefuk.github.io">
{% if page and page.meta and page.meta.description %}
<meta property="og:description" content="{{ page.meta.description }}">
{% endif %}

{% if page and page.meta and page.meta.image %}
<meta property="og:image" content="{{ page.meta.image }}">
<meta name="twitter:image" content="{{ page.meta.image }}">
{% else %}
<meta property="og:image" content="https://kynefuk.github.io/images/cat.jpg">
<meta name="twitter:image" content="https://kynefuk.github.io/images/cat.jpg">
{% endif %}

{% if page and page.meta and page.meta.type %}
<meta property="og:type" content="{{ page.meta.type }}">
{% else %}
<meta property="og:type" content="article">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@kata_dev">
<meta name="twitter:creator" content="@kata_dev">
<meta property="og:locale" content="ja_JP">

{% endblock %}

{% block content %}
{{ super() }}

<!-- Giscus -->
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script src="https://giscus.app/client.js" data-repo="kynefuk/kynefuk.github.io" data-repo-id="R_kgDOHOdYPg"
  data-category="General" data-category-id="DIC_kwDOHOdYPs4COv_r" data-mapping="pathname" data-reactions-enabled="1"
  data-emit-metadata="1" data-input-position="top" data-theme="light_protanopia" data-lang="ja" data-loading="lazy"
  crossorigin="anonymous" async>
  </script>

<!-- Reload on palette change -->
<script>
  var palette = __md_get("__palette")
  if (palette && typeof palette.color === "object")
    if (palette.color.scheme === "slate") {
      var giscus = document.querySelector("script[src*=giscus]")
      giscus.setAttribute("data-theme", "dark")
    }

  /* Register event handlers after documented loaded */
  document.addEventListener("DOMContentLoaded", function () {
    var ref = document.querySelector("[data-md-component=palette]")
    ref.addEventListener("change", function () {
      var palette = __md_get("__palette")
      if (palette && typeof palette.color === "object") {
        var theme = palette.color.scheme === "slate" ? "dark" : "light"

        /* Instruct Giscus to change theme */
        var frame = document.querySelector(".giscus-frame")
        frame.contentWindow.postMessage(
          { giscus: { setConfig: { theme } } },
          "https://giscus.app"
        )
      }
    })
  })
</script>
{% endblock %}